
.sidebar-content {
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.uWpHPQziwaSFQkpTmZSmPgHaEK&pid=Api&P=0&h=180');
    background-size: cover;
    background-color: #001f3f; /* Light gray background */
    padding: 20px;
}